<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Doctors' page</title>
    <link rel="website icon" href="../static/images/hospitalIcon.png"/>
    <!-- Asta e logoul din partea de sus sus de tot, ala cu pastila -->

    <link rel="stylesheet" href="../static/styles/doctors.css">
    <link th:href="@{/styles/doctors.css}" rel="stylesheet" />
</head>

<body>

<div class="divide-content"></div>

<div class="header-doctors">
    <button class="buttons-header-doctors">View Schedule</button>
    <button class="buttons-header-doctors">Update Schedule</button>
</div>

<div class="link-to-landing-page main-header text-main-header">
    <a href="http://localhost:7010/landingPage" class="text-main-header"><b>HospitalPlanner</b></a> - the perfect app both for <b>doctors</b> and <b>patients</b>.
</div>

</body>
</html>