<!DOCTYPE html>
<html lang="en">
<head>
    <title>Doctors' information</title>
    <link rel="website icon" href="../static/images/hospitalIcon.png"/>
    <!-- Asta e logoul din partea de sus sus de tot, ala cu pastila -->
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no"/>
    <link rel="stylesheet" href="../static/styles/patientsPage.css"/>
    <link th:href="@{/styles/patientsPage.css}" rel="stylesheet" />
</head>

<body>
<div class="divide-content"></div>

	<img src="C:\Users\smara_9yjfm5z\OneDrive\Desktop\Doctors' page\hospitalIcon.png" width = "50">
	<p>
	<strong style="color: teal;"> Dr Lastname Firstname </strong>
	<br><br><br>
	Insert medical grade here
	<br>
	Insert specialization here

	</p>
	<br>

	<img src="C:\Users\smara_9yjfm5z\OneDrive\Desktop\Doctors' page\hospitalIcon.png" width = "50">
	<p>
	<strong style="color: teal;"> Dr Lastname Firstname </strong>
	<br><br><br>
	Insert medical grade here
	<br>
	Insert specialization here

	</p>
	<br>

	<img src="C:\Users\smara_9yjfm5z\OneDrive\Desktop\Doctors' page\hospitalIcon.png" width = "50">
	<p>
	<strong style="color: teal;"> Dr Lastname Firstname </strong>
	<br><br><br>
	Insert medical grade here
	<br>
	Insert specialization here

	</p>
	<br>
</div>

</body>

</html>