<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Doctors' page</title>
    <link rel="website icon" th:href="@{/images/hospitalIcon.png}"/>
    <!-- Asta e logoul din partea de sus sus de tot, ala cu pastila -->

    <script src="https://kit.fontawesome.com/0668abd750.js" crossorigin="anonymous"></script>

    <link rel="stylesheet" href="../static/styles/doctorsPage.css">
    <link th:href="@{/styles/doctorsPage.css}" rel="stylesheet" />
    <script type="text/javascript" th:src="@{/scripts/doctorsPage.js}"></script>
</head>

<body>

<div class="divide-content"></div>

<div class="header-doctors">
    <button type="button" th:onclick="redirectToDoctorViewSchedule()" class="buttons-header-doctors">View Schedule</button>
    <button type="button" th:onclick="showAlert()" class="buttons-header-doctors">Update Schedule</button>
</div>

<div class="link-to-landing-page main-header text-main-header">
    <a href="http://localhost:7010/landingPage" class="text-main-header"><b>HospitalPlanner</b></a> - the perfect app both for <b>doctors</b> and <b>patients</b>.
</div>

</body>
</html>