<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Landing Page</title>
    <link rel="website icon" href="../static/images/hospitalIcon.png" />
    <link rel="website icon" th:href="@{/images/hospitalIcon.png}"/>
    <!-- Asta e logoul din partea de sus sus de tot, ala cu pastila -->

    <link rel="stylesheet" href="../static/styles/landingPage.css">
    <link th:href="@{/styles/landingPage.css}" rel="stylesheet" />
</head>
<body>
<div class="main-rectangle center">
    <div class="choose-role">
        Choose your role:
    </div>
    <div class="rectangle-flex">
        <a href="http://localhost:7010/patientsSignupForm">
            <button class="role">
                Patients
            </button>
        </a>
        <a href="http://localhost:7010/doctorsSignupForm">
            <button class="role">
                Doctors
            </button>
        </a>
        <a href="http://localhost:7010/adminPage">
            <button class="role">
                Admin
            </button>
        </a>
    </div>
</div>
</body>
</html>