<html>

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login Patients</title>
    <link rel="website icon" href="@{/images/hospitalIcon.png}"/>
    <!-- Asta e logoul din partea de sus sus de tot, ala cu spitalul -->
    <script src="https://kit.fontawesome.com/0668abd750.js" crossorigin="anonymous"></script>
  
    <link rel="stylesheet" href="../static/styles/forms.css">
    <link th:href="@{/styles/doctorsPage.css}" rel="stylesheet" />
    <script type="text/javascript" th:src="@{/scripts/doctorsPage.js}"></script>
  </head>

<body>
    <div class="divide-content"></div>
<div class="link-to-landing-page main-header text-main-header">
    <a href="http://localhost:7010/landingPage" class="text-main-header"><b>HospitalPlanner</b></a> - the perfect app both for <b>doctors</b> and <b>patients</b>.
</div>

<div style="margin-top: 100px;"  class="login-container">

    <img src="../images/doctor-woman.jpg">
<form class="login-form"  action="/loginP">
    <label for="firstName">First name:</label><br>
    <input type="text" name="firstName" placeholder="George" required><br>
    <label for="lastName">Last name:</label><br>
    <input type="text" name="lastName" placeholder="Ionescu" required><br>
    <label for="password">Enter password:</label><br>
    <input type="password" name="password" pattern="^(?=.*[0-9])(?=.*[a-zA-Z]).{8,}$" required><br>
    <input type="submit" value="Submit" required>

</form>
</div>
</body>

</html>