<!DOCTYPE html>
<html lang="en">
<head>
    <title>Patients' page</title>
    <link rel="website icon" href="../static/images/hospitalIcon.png"/>
    <!-- Asta e logoul din partea de sus sus de tot, ala cu pastila -->
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no"/>
    <link rel="stylesheet" href="../static/styles/patientsPage.css"/>
    <link th:href="@{/styles/patientsPage.css}" rel="stylesheet" />
</head>

<body>
<div class="divide-content"></div>

<div id="header">
    <nav id="nav">
        <ul class="header-doctors">
            <li class="current"><a class="buttons-header-doctors">View doctor's availability</a>
                <select name="doctors" id="doctors">
                    <option>Leuciuc Ana</option>
                    <option>Negrutu Ana Andra</option>
                    <option>Plugariu Ana Andra</option>
                    <option>Iovu Ana</option>
                    <option>Cimpoesu Ioana</option>
                    <option>Bodnar Ioana</option>
                    <option>Scurtu Codrina</option>
                    <option>Riza Codrina Sabina</option>
                    <option>Craciunas Ioana Daria</option>
                    <option>Arteni Monica</option>
                    <option>Ionesei Stefana Ecaterina</option>
                    <option>Ciofu Stefana Ecaterina</option>
                    <option>Mataca Sanziana Daniela</option>
                    <option>Coca Sanziana Daniela</option>
                    <option>Iacobuta Sanziana</option>
                    <option>Curca Sanziana</option>
                    <option>Bejan Sanziana</option>
                    <option>Chmilevski Sanziana</option>
                    <option>Bulai Adina</option>
                    <option>Dogaru Paula Petruta</option>
                </select></li>


            <li>
                <a class="buttons-header-doctors">Doctors list</a>
                <select name="doctors" id="doctors_list">
                    <option>Leuciuc Ana</option>
                    <option>Negrutu Ana Andra</option>
                    <option>Plugariu Ana Andra</option>
                    <option>Iovu Ana</option>
                    <option>Cimpoesu Ioana</option>
                    <option>Bodnar Ioana</option>
                    <option>Scurtu Codrina</option>
                    <option>Riza Codrina Sabina</option>
                    <option>Craciunas Ioana Daria</option>
                    <option>Arteni Monica</option>
                    <option>Ionesei Stefana Ecaterina</option>
                    <option>Ciofu Stefana Ecaterina</option>
                    <option>Mataca Sanziana Daniela</option>
                    <option>Coca Sanziana Daniela</option>
                    <option>Iacobuta Sanziana</option>
                    <option>Curca Sanziana</option>
                    <option>Bejan Sanziana</option>
                    <option>Chmilevski Sanziana</option>
                    <option>Bulai Adina</option>
                    <option>Dogaru Paula Petruta</option>
                </select></li>

            <li>
                <a href="#" class="buttons-header-doctors">Make an appointment</a>
            </li>
        </ul>
    </nav>
</div>

<div class="link-to-landing-page main-header text-main-header">
    <a href="http://localhost:7010/landingPage" class="text-main-header"><b>HospitalPlanner</b></a> - the perfect app both for <b>doctors</b> and <b>patients</b>.
</div>

<div class="fullscreen-image"></div>

</body>

</html>