<!DOCTYPE html>
<html>
<head>
    <title>Patients' page</title>
    <link rel="website icon" href="../static/images/hospitalIcon.png"/>
    <!-- Asta e logoul din partea de sus sus de tot, ala cu pastila -->
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no"/>
    <link rel="stylesheet" href="../static/styles/patientsPage.css"/>
</head>

<body>

<header id="header">

    <nav id="nav">

        <ul style="text-align: center;">
            <li class="current"><a>View doctor's availability</a>
                <select name="doctors" id="doctors">
                    <option>Leuciuc Ana</option>
                    <option>Negrutu Ana Andra</option>
                    <option>Plugariu Ana Andra</option>
                    <option>Iovu Ana</option>
                    <option>Cimpoesu Ioana</option>
                    <option>Bodnar Ioana</option>
                    <option>Scurtu Codrina</option>
                    <option>Riza Codrina Sabina</option>
                    <option>Craciunas Ioana Daria</option>
                    <option>Arteni Monica</option>
                    <option>Ionesei Stefana Ecaterina</option>
                    <option>Ciofu Stefana Ecaterina</option>
                    <option>Mataca Sanziana Daniela</option>
                    <option>Coca Sanziana Daniela</option>
                    <option>Iacobuta Sanziana</option>
                    <option>Curca Sanziana</option>
                    <option>Bejan Sanziana</option>
                    <option>Chmilevski Sanziana</option>
                    <option>Bulai Adina</option>
                    <option>Dogaru Paula Petruta</option>
                </select></li>


            <li>
                <a>Doctors list</a>
                <select name="doctors" id="doctors_list">
                    <option>Leuciuc Ana</option>
                    <option>Negrutu Ana Andra</option>
                    <option>Plugariu Ana Andra</option>
                    <option>Iovu Ana</option>
                    <option>Cimpoesu Ioana</option>
                    <option>Bodnar Ioana</option>
                    <option>Scurtu Codrina</option>
                    <option>Riza Codrina Sabina</option>
                    <option>Craciunas Ioana Daria</option>
                    <option>Arteni Monica</option>
                    <option>Ionesei Stefana Ecaterina</option>
                    <option>Ciofu Stefana Ecaterina</option>
                    <option>Mataca Sanziana Daniela</option>
                    <option>Coca Sanziana Daniela</option>
                    <option>Iacobuta Sanziana</option>
                    <option>Curca Sanziana</option>
                    <option>Bejan Sanziana</option>
                    <option>Chmilevski Sanziana</option>
                    <option>Bulai Adina</option>
                    <option>Dogaru Paula Petruta</option>
                </select></li>

            <li>
                <a href="#">Make an appointment</a>
            </li>
        </ul>
        </li>
        </ul>

    </nav>


</header>

<div class="fullscreen-image">

</div>


</body>

</html>