<!DOCTYPE html>
//TODO: modify this class
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Welcome</title>

    <!-- Asta e logoul din partea de sus sus de tot, ala cu pastila -->


    <link rel="stylesheet" />
</head>
<body>
<div class="main-rectangle center">
    <div class="choose-role">
       Hello! What would you like to do?
    </div>
    <div class="rectangle-flex">
        <a>
            <button class="role">
                Make an appointment
            </button>
        </a>

    </div>
</div>
</body>
</html>