@import url('https://fonts.googleapis.com/css2?family=Urbanist:wght@400;600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Urbanist:wght@400;800&display=swap');

/**stilurile sunt aplicate implicit și se folosesc pentru a asigura un aspect consistent pentru site */
html, body, div, span, h1, h2, h3, h4, h5, h6, p, blockquote, a, img, center, ol,
ul, li, article, footer, header, menu, nav, section {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    font-weight: normal;
    vertical-align: baseline;
}

body {
    line-height: 1;
}

ol,
ul {
    list-style: none;
    display: inline-block;
    text-align: left;
}

html {
    box-sizing: border-box;
}

*,
*:before,
*:after {
    box-sizing: inherit;
}

/** seteaza culoarea de fundal a paginii la o nuanta de gri deschis (#f3f6fa) */
body {
    background: #f3f6fa;
    color: #036bfc;
    font-family: 'Urbanist', sans-serif;
    font-size: 15pt;
    font-weight: 300;
    letter-spacing: 0.025em;
    line-height: 1.75em;
}

/**  "h1" (titlu nivel 1), "h2" (titlu nivel 2), "h3" (titlu nivel 3)*/
h1, h2, h3, h4, h5, h6 {
    color: inherit;
    /* inherit - adica va folosi culoarea mostenita de la elementul parinte*/
    font-weight: 300;
    line-height: 1.75em;
    margin-bottom: 1em;
    text-transform: uppercase;
}

/** elementele "a" (link-uri) din interiorul elementelor de tip "h1", "h2", "h3", "h4", "h5" si "h6*/
h1 a, h2 a, h3 a, h4 a,
h5 a,
h6 a {
    color: inherit;
    text-decoration: none;
    border: 0;
}

h1 {
    font-size: 1.5em;
    letter-spacing: 0.1em;
}

h3 {
    font-size: 1.15em;
    letter-spacing: 0.025em;
}

/* Row */

.row {
    display: flex;
    /**  elementele copil sa se aseze pe o singura linie */
    flex-wrap: wrap;
    /** ele sunt aranjate pe mai multe linii daca depasesc latimea disponibila*/
    box-sizing: border-box;
    align-items: stretch;
}

/** instructiuni pt alinierea unor elemente de tip row*/
.row.aln-top {
    align-items: flex-start;
}

.row.aln-middle {
    align-items: center;
}

.row.aln-bottom {
    align-items: flex-end;
}

.wrapper .row {
    justify-content: center;
}


.fullscreen-image {
    height: 100vh; /* Set the height to cover the entire viewport */
    background-image: url("../images/hospitalIcon.png");
    background-size: auto; /* Scale the image to cover the entire container */
    background-repeat: no-repeat;
    background-position: center; /* Position the image at the center top */
}

/* List */




#header nav ul li.current > a {
    font-weight: 900;
    /* pagina curenta apare ingrosata in meniu cand suntem in ea */
}

#header.formenu {
    /* pt elementele de sus din meniu*/
    background: transparent;
    box-shadow: none;
    color: #036bfc;
    padding: 2em 2.5em;
    position: absolute;
    text-align: center;
}

#text {
    font-size: 1.5em;
    letter-spacing: 0.1em;
    border-bottom: solid 2px;
    border-top: solid 2px;
    font-size: 2.5em;
    font-weight: 900;
    text-align: center;
    margin-left: 25%;
    margin-top: 8%;
    position: absolute;
    color: white;
    text-transform: uppercase;
}

/*to be similar to other pages*/

:root {
    --main-blue: #095ACF;
}

.main-header {
    background-color: #1CABE8;
    position: absolute;
    top: 0;
    left: 0;
    height: 95px;
    width: 100%;
    padding-top: 35px;
    margin-right: 20px;
}

.text-main-header {
    color: #fff;
    font-size: 35px;
    font-weight: 600;
    text-decoration: none;
    -webkit-text-stroke-width: 0.8px;
    -webkit-text-stroke-color: #095c7b;
}

.divide-content {
    background-color: #095c7b;
    position: absolute;
    top: 95px;
    left: 0;
    height: 5px;
    width: 100%;
}

.link-to-landing-page {
    position: absolute;
    top: 0px;
}

.buttons-header-doctors {
    background-color: #095ACF;
    opacity: 0.9;
    color: #fff;
    font-size: 20px;
    font-weight: 600;
    transition: all 0.5s ease-in-out;
    width: 150px;
    height: 100px;

    border: 2px solid #095c7b;
    border-radius: 24px;
    padding: 15px;
    padding-left: 100px;
    padding-right: 100px;

    -webkit-text-stroke-width: 0.8px;
    -webkit-text-stroke-color: black;

    text-decoration: none;
}

.buttons-header-doctors:hover {
    cursor: pointer;
    background-color: #e7e7e7;
    opacity: 1;
    color: #095ACF;
    transition: all 0.5s ease-in-out;
    -webkit-text-stroke-width: 0.8px;
    -webkit-text-stroke-color: black;
}

.header-doctors {
    position: absolute;
    left: 0;
    height: 95%;
    width: 99%;
    display: flex;
    justify-content: space-around;
    top: 300px;
    flex-wrap: wrap;
}