@import url('https://fonts.googleapis.com/css2?family=Urbanist:wght@400;600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Urbanist:wght@400;800&display=swap');

body {
    font-family: 'Urbanist', sans-serif;
}

.divide-content {
    background-color: #095c7b;
    position: absolute;
    top: 95px;
    left: 0;
    height: 5px;
    width: 100%;
}

.link-to-landing-page {
    position: absolute;
    top: 0px;
}

.main-header {
    background-color: #1CABE8;
    position: absolute;
    top: 0;
    left: 0;
    height: 60px;
    width: 100%;
    padding-top: 35px;
    margin-right: 20px;
}

.text-main-header {
    color: #fff;
    font-size: 35px;
    font-weight: 600;
    text-decoration: none;
    -webkit-text-stroke-width: 0.8px;
    -webkit-text-stroke-color: #095c7b;
}

.container {
    position: absolute;
    top: 200px;
    text-align: center;

}

.fields {
    color: #252323;
    font-size: 24px;
    font-weight: 600;
    text-decoration: none;
    -webkit-text-stroke-width: 0.8px;
    -webkit-text-stroke-color: #095c7b;
}

.fields-link {
    color: #252323;
    font-size: 24px;
    font-weight: 600;
    text-decoration: none;
    -webkit-text-stroke-width: 0.8px;
    -webkit-text-stroke-color: #095c7b;
}

.fields-link:hover{
    color: #095c7b;
}